html {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

*, ::before, ::after {
    box-sizing: inherit;
}

#button-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
}


#button-grid {
    font-size: 20px;
    font-weight: 800;
    color: black;
    border-radius: 15px;
    border-color: rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-style:groove;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

#container{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: auto;
}