html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(40, 44, 44);
}

*, ::before, ::after {
    box-sizing: inherit;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 1100px;
    min-height: 100vh;
    max-height: 1500px;
    height: max-content;
    margin: auto;
    background-color: white;
    align-items: center;
}

#title {
    display: flex;
    margin: 25px auto; 
    font-size: 32px;
    font-weight: 600;
}


#button-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    max-height: 100px;
}


#button-grid {
    font-size: 14px;
    font-weight: 600;
    color: black;
    border-radius: 10px;
    border-color: rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-style:groove;
    width: 90px;
    height: 30px;
    cursor: pointer;
}

#container{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    max-height: 850px;
}